.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7bcdc;
  z-index: 9999;
  overflow: hidden;
  transition: opacity 0.5s ease-out;
}

.loading-container.complete {
  opacity: 0;
  pointer-events: none;
}

.animation-element {
  background-color: #fef3e1;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: all 0.8s ease-in-out;
  position: relative;
}

.loading-container.lineAcrossScreen .animation-element {
  border-radius: 0;
  width: 100vw;
  height: 6px;
}

.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1.2s ease-out;
}

.loading-container.circle .text-container {
  opacity: 0;
}


.loading-container.lineAcrossScreen .text-container {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.text {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #fef3e1;
}

.stuyvesant-wrapper, .senior-caucus-wrapper {
  height: 4rem;
  display: flex;
  align-items: center;
}

.text-inner {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.senior-caucus-wrapper .text-inner {
  transform: translateY(-100%);
}

.loading-container.lineAcrossScreen .stuyvesant-wrapper .text-inner,
.loading-container.lineAcrossScreen .senior-caucus-wrapper .text-inner {
  opacity: 1;
  transform: translateY(0);
}

.loading-container.circle .animation-element {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #fef3e1;
  animation: circleTransform 1.2s forwards cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes circleTransform {
  0% {
    border-radius: 0;
    width: 100vw;
    height: 6px;
  }
  100% {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fef3e1;
  }
}

.loading-container.abstractTransition .animation-element {
  animation: abstractTransition 2s forwards;
}

@keyframes abstractTransition {
  0% {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transform: rotate(0deg) scale(1);
    background-color: #fef3e1;
    opacity: 1;
  }
  50% {
    width: 100vmax;
    height: 100vmax;
    border-radius: 15%;
    transform: rotate(180deg) scale(1);
    background-color: #c7bcdc;
    opacity: 1;
  }

  75% {
    width: 250vmax;
    height: 250vmax;
    border-radius: 0;
    transform: rotate(180deg) scale(1);
    background-color: #c7bcdc;
    opacity: 0.6;
  }
  100% {
    width: 10vmax;
    height: 10vmax;
    border-radius: 50%;
    transform: rotate(360deg) scale(0);
    background-color: #322343;
    opacity: 0;
  }
}