.navbar {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 1000 !important;
}

.menu-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #322343;
  border-radius: 7px;
  padding: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1px);
  border: 1px solid #6c5f83;
  min-width: 150px;
  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
}

.menu.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu.hidden {
  opacity: 0;
  transform: translateY(-15px);
  pointer-events: none;
}

.menu-item {
  margin: 3px 0;
  text-align: right;
}

.menu-item .MuiLink-root {
  color: #fff2e2;
  text-decoration: none;
  padding: 15px 10px 6px 34px;
  border-radius: 3px;
  transition: all 0.2s ease;
  display: block;
  font-size: 1rem;
  font-weight: 700 !important;
  position: relative;
  background: linear-gradient(120deg, #c2b9d7 0%, #6c5f83 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in, transform 0.2s ease;
  cursor: none;
}

.menu-item .MuiLink-root:hover {
  background-size: 100% 100%;
  text-decoration: none;
}

.menu-button .MuiIconButton-root {
  color: #fff2e2;
  background-color: #322343;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid #6c5f83;
  transform: scale(0.95);
  cursor: none;
}

.menu-button .MuiIconButton-root:hover {
  background-color: #6c5f83;
  transform: scale(1);
  transition: all 0.2s ease;
  cursor: none;
}

.menu-button .MuiSvgIcon-root {
  font-size: 28px;
}

.menu-item .MuiLink-root::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  right: auto;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.menu-item .MuiLink-root:hover::after,
.menu-item .MuiLink-root:focus-visible::after {
  opacity: 1;
}

.menu .menu-item:nth-child(1) .MuiLink-root::after {
  background-image: url('/images/navbarIcons/homeicon.png');
}

.menu .menu-item:nth-child(2) .MuiLink-root::after {
  background-image: url('/images/navbarIcons/cabineticon.png');
}

.menu .menu-item:nth-child(3) .MuiLink-root::after {
  background-image: url('/images/navbarIcons/promicon.png');
}

.menu .menu-item:nth-child(4) .MuiLink-root::after {
  background-image: url('/images/navbarIcons/eventsicon.png');
}

.menu .menu-item:nth-child(5) .MuiLink-root::after {
  background-image: url('/images/navbarIcons/resourcesicon.png');
}

.menu .menu-item:nth-child(6) .MuiLink-root::after {
  background-image: url('/images/navbarIcons/magazinesicon.png');
}

