.navbar {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 1000 !important;
}

.menu-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #322343;
  border-radius: 7px;
  padding: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1px);
  border: 1px solid #6c5f83;
  min-width: 130px;
  animation: fadeIn 0.3s ease-in-out;
}

.menu-item {
  margin: 3px 0;
  text-align: right;
}

.menu-item .MuiLink-root {
  color: #fff2e2;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 3px;
  transition: all 0.2s ease;
  display: block;
  font-size: 0.9rem;
  font-weight: 700 !important;
}

.menu-item .MuiLink-root:hover {
  background-color: #6c5f83;
  text-decoration: none;
  transform: translateX(-3px);
}

.menu-button .MuiIconButton-root {
  color: #fff2e2;
  background-color: #322343;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid #6c5f83;
  transform: scale(0.95);
}

.menu-button .MuiIconButton-root:hover {
  background-color: #6c5f83;
  transform: scale(1);
  transition: all 0.2s ease;
}

.menu-button .MuiSvgIcon-root {
  font-size: 28px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}